body {
    background-color: #55ACEE;
    font-family: sans-serif;
    -webkit-text-size-adjust: none;
}
img.logo {
    position: absolute;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: 250px;
    margin-left: -100px;
}

.scale {
    transition: all 0.5s ease-in-out;
}

.content {
    text-align: center;
    line-height: 200px;
    pointer-events: none;
    opacity: 0;
}

.scale:hover {
    animation: flyaway 5s linear;
}

.scale:hover + .content {
    animation: fadein 5s linear;
}


@keyframes flyaway {
  0%   { transform: scale(1, 1); }
  5%   { transform: scale(0.7, 0.7); }
  12% { transform: scale(25, 25); }
  100% { transform: scale(25, 25); }
}

@keyframes fadein {
  0%   { opacity: 0; }
  5%   { opacity: 0; }
  20%   { opacity: 1; }
  100% { opacity: 1; }
}

